* {
    box-sizing: 0;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
    border-bottom: 1px solid #ebe8e8;
    padding-bottom: -30px;
}
.navbar-left-menu {
    display: flex;
}
.navbar-menu-logo {
    list-style: none;
    margin: 0 20px;
}
.navbar-menu-list {
    margin-left: -50px;
}
.navbar-menu-items {
    margin: 13px 8px;
    font-size: 18px;
}
.navbar-menu-items:hover{
    padding-bottom: 10px;
    border-bottom: 4px solid aqua;
}
.navbar-menu-items,
.navbar-menu-items-link {
    display: inline-block;
    text-decoration: none ;
    color: #555;
    font-weight: 530;
}
.navbar-menu-items-link:hover {
    color:aqua;
}
.navbar-right-search {
    display: flex;
    margin-right: 20px;
}
.right-search {
    background-color: #f0f0f0;
    margin-bottom: 25px;
    margin-top: 10px;
    width: 300px;
    padding: 5px 10px;
    border-radius: 5px;
}
.right-search > input{
    border: none;
    background-color: #f0f0f0;
    color: #444;
}
.right-use {
   margin-right: 5px;
}
.right-use-list {
    margin-left: -30px;
}
.use-items {
    display: inline-block;
    text-decoration: none ;
    margin: 3px 8px;
}
/* Container */
.container {
    margin: 35px 140px;
}
.container-product-title {

}
.container-product-list {
    display: flex;
    color: #777;
    font-size: 14px;
}
.container-list-title {
    color: #333;
    font-weight: 550;
    margin-left: 5px;
}
.title {
    margin-top: 15px;
    font-weight: 900;
    font-size: 35px;
}
.product-img {

}
.product-reviews {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-right: 20px;
}
.product-reviews-sao {
    display: flex;
}
.danh-gia {
    font-weight: 700;
}
.reviews {
    color: #777;
}
.ti-sharethis {
    margin-right: 40px;
    
}
.save {
    display: flex;
}
.save-items {
    margin-left: 5px;
    padding-top: 3px
}
.product-hinh-anh {
    display: flex;
    margin-top: 20px;
}
.hinh-1 {
    margin-right: 35px;
}
.hinh-all {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 35px;
    grid-row-gap: 15px;
}
.product-description {
    display: flex;
    border-bottom: 1px solid #efeaea;
    margin-top: 10px;
    margin-bottom: 40px;
}
.description-1 {
    flex: 5;
}
.description-title {
    font-size: 25px;
    font-weight: 900;
    margin: 15px 0;
}
.description-content {
    color: #464343;
    margin-right: 70px;
}
.description-content-2 {
    margin-top: -10px;
    margin-bottom: 15px;
}
.product-thong-tin {
    display: flex;
}
.thong-tin-1 {
    margin-right: 70px
}
.thong-tin-11 {
    margin: 10px 0;
}
.description-2 {
    flex: 2;
    border: 1px solid #f3f3f3;
}
.des {
    margin: 15px;
    display: flex;
    flex-direction: column;
}
.description-2-dola {
    font-size: 25px;
    font-weight: 900;
    color: rgb(25, 223, 223);
    align-self: flex-end;
}
.description-2-color {
    background-color: #f0f0f0;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
}
.description-2-color > input {
    border: none;
    background-color: #f0f0f0;
    margin-right: 120px;
}
.description-2-size {
    background-color: #f0f0f0;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
}
.description-2-size > input {
    border: none;
    background-color: #f0f0f0;
    margin-right: 120px;
}
.description-2-stt {
    background-color: #f0f0f0;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
}
.description-2-stt > input {
    border: none;
    background-color: #f0f0f0;
    margin-right: 120px;
}
.description-2-total {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}
.total {
    color: #999;
    margin-bottom: 13px;
}
.total-dola {
    font-weight: 900;
}
.description-2-buy {
    background-color: #f0f0f0;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(25, 223, 223);
}
.description-2-buy > button {
    border: none;
    background-color: rgb(25, 223, 223);
    color: white
}
.description-2-add {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(25, 223, 223);
}
.description-2-add > button {
    border: none ;
    background-color: #fff;
    color: rgb(25, 223, 223);
}
.ti-shopping-cart {
    color: rgb(25, 223, 223);
}
.person-reviews-a {
    border-bottom: 1px solid #efeaea;
    margin-bottom: 40px;
}
.reviews-title {
    display: flex;
    justify-content: space-between;
}
.reviews-title-1 {
    display: flex;
}
.reviews-title-11 {
    font-size: 25px;
    font-weight:900;
    margin-right: 5px;
}
.s1 {
    margin-top: 5px;
    margin-right: 5px;
}
.danh-gia-1 {
    font-weight:900;
    margin-top: 5px;
    margin-right: 3px;
}
.reviews-99 {
    color: #999;
    margin-top: 5px;
}
.reviews-title-2 {
    color: #999;
}
.reviews-title-2 > i {
    font-size: 12px;
}
.person {
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 50px;
    grid-row-gap: 30px;
    margin-bottom: 30px;
}
.person-use {
    display: flex;
}
.use-img {
    margin-right: 10px;
}
.use1 {
    display: flex;
    margin-bottom: 5px;
}
.use-name {
    font-weight: 900;
    margin-right: 10px;
}
.use-time {
    color: #999;
}
.person-reviews {
    margin-top: 10px;
}
.related {
    border-bottom: 1px solid #efeaea;
}
.related-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
.related-title-1 {
    font-size: 25px;
    font-weight: 900;
}
.related-title-2 {
    color: #999;
}
.related-title-2 > i {
    font-size: 13px;
}
.related-trai-cay {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.related-trai-cay-1 {
    border: 1px solid #f3efef;
    border-radius: 5px;
}
.trai-cay {
    display: flex;
    justify-content: space-between;
}
.trai-cay-title {
    font-size: 20px;
    font-weight: 900;
    margin-left: 8px;
}
.trai-cay-tym {
    margin-right: 8px;
}
.trai-cay-dola {
    color: aqua;
    margin-bottom: 10px;
    margin-left: 8px;
}
.trai-cay-danh-gia {
    display: flex;
    justify-content: space-between;
    margin-left: 8px;
    margin-bottom: 10px;
}
.trai-cay-so-luong {
    color: #999;
    margin-right: 8px;
}
.end {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.end-logo {
    margin-bottom: 30px;
}
.subscribe {
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 20px;
}
.email {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.input-your {
    background-color: #f4f0f0;
    width: 400px;
    padding: 10px;
}
.input-your > input{
    border: none;
    background-color: #f4f0f0;
}
.sub-button {
    background-color: rgb(45, 207, 207);
    width: 100px;
}
.btn-sub{
    border: none;
    background-color: rgb(45, 207, 207);
    width: 100px;
    margin-top: 10px;
    color: #fff;
    font-weight: 700;
}